---
---

@charset "utf-8";

// Example Defaults
// $base-font-family: Helvetica, Arial, sans-serif;
// $base-font-size:   16px;
// $small-font-size:  $base-font-size * 0.875;
// $base-line-height: 1.5;

// $spacing-unit:     30px;

// $text-color:       #111;
// $background-color: #fdfdfd;
// $brand-color:      #2a7ae2;

// $grey-color:       #828282;
// $grey-color-light: lighten($grey-color, 40%);
// $grey-color-dark:  darken($grey-color, 25%);

// // Width of the content area
// $content-width:    800px;

// $on-palm:          600px;
// $on-laptop:        800px;

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// variables.less
$theme-primary: #BF1534;
$theme-dark: #012E40;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "mixins",
        "base"
;

body {
    background-color: #F5A900;
}

#titre {
    font-size: 16px;
    font-family: 'Montserrat';
    font-weight: 700;
    color: #03588C;
    text-transform: uppercase;
    margin-bottom: 10px;
}

#sous-titre {
    font-size: 16px;
    font-family: 'Merriweather';
    color: #BF1534;
    font-weight: 500;
}

.navbar-default .nav > li > a, .navbar-default.affix .nav > li > a {
    color: #03588C;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color : #BF1534;
}

.text-primary {
    color: #F5A900;
}

.btn-primary, .btn-default {
    background-color: #F5A900;
}

.btn {
    margin : 20px;
}

.btn-yellow {
    background-color: #03588C;
    color: white;
}