<header>
    <div class="header-content">
        <div class="header-content-inner">
            <p id="titre">Frug'Agile in Armenia on October 14th and 15th</p>
            <p id="sous-titre">We invite you to a <strong>back to basics</strong> conference and to share together the meaning of our agile approach.</p>
            <div class="row">
                <!--<a href="#ticketing" class="btn btn-primary btn-xl page-scroll">Book your ticket</a>-->
                <a href="#program" class="btn btn-primary btn-xl page-scroll">Discover the agenda </a>
            </div>
        </div>
    </div>
</header>
