<header>
    <div class="header-content">
        <div class="header-content-inner">
            <p id="titre">Frug'Agile en Arménie<br />14 & 15 octobre 2021</p>
            <p id="sous-titre">Nous vous invitons à <strong>revenir aux fondamentaux</strong> et à partager tous ensemble le sens de notre démarche agile</p>
            <div class="row">
                <!--<a href="#ticketing" class="btn btn-primary btn-xl page-scroll">Réserver votre place</a>-->
                <a href="#program" class="btn btn-primary btn-xl page-scroll">Découvrir le programme</a>
            </div>
        </div>
    </div>
</header>
