<section class="bg-primary" id="candidature">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Devenez orateur !</h2>
                <hr class="light">
                <p class="text-faded">
                Vous souhaitez partager avec la communauté francophone votre vision des 20 dernières années ou des 20 prochaines ?<br/><br/>
                Que ce soit votre première prise de parole en conférence ou que vous soyez un conférencier rodé, passez à l'action et proposez nous votre sujet ! Nous serons ravis d'échanger avec vous <br/><br/>
               <i> (clôture des candidatures le 17 janvier 2021)</i>
                </p>
                <a href="https://sessionize.com/frugagile-hiver-2021" target="_blank" class="btn btn-default btn-xl">SOUMETTRE Ma proposition</a>
            </div>
        </div>
    </div>
</section>
