<section class="bg-primary" id="candidature">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Become a speaker!</h2>
                <hr class="light">
                <p class="text-faded">
                    Do you want to share something with the French Agile community your vision of the past 20 years or for the next 20 ? Don’t hesitate! Become a speaker!<br/><br/>
                    Whether it is your first time as a speaker in a conference or an experienced speaker, you may submit your subject! We’ll be happy to discuss with you<br/><br/>
                    <i>(Proposal submission deadline January 17)</i>
                </p>
                <a href="https://sessionize.com/frugagile-hiver-2021" target="_blank" class="btn btn-default btn-xl">submit my proposal</a>
            </div>
        </div>
    </div>
</section>
