<header>
    <div class="header-content">
        <div class="header-content-inner">
            <p id="titre"><b>Frug'Agile in Armenia on October 14th and 15th</p>
            <p id="sous-titre">A frugal and 100% online conference : workshops, experience reports, talks about agility and in particular :</p>
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-4"><a href="#conference" class="btn btn-primary btn-xl page-scroll">Learn more</a></div>
                <div class="col-lg-4"><a href="#ticketing" class="btn btn-primary btn-xl page-scroll">Book your ticket</a></div>
                <div class="col-lg-2"></div>
            </div>
        </div>
    </div>
</header>
