<header>
    <div class="header-content">
        <div class="header-content-inner">
            <p id="titre">Frug'Agile en Arménie<br />14 & 15 octobre 2021</p>
            <p id="sous-titre">Nous vous invitons à <strong>revenir aux fondamentaux</strong> et à partager tous ensemble le sens de notre démarche agile</p>
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-4"><a class="btn btn-primary btn-xl" href="https://sessionize.com/frugagile-en-armenie/" target="_blank">Devenir orateur</a></div>
                <div class="col-lg-4"><a href="#ticketing" class="btn btn-primary btn-xl page-scroll">Réserver votre place</a></div>
                <div class="col-lg-2"></div>
            </div>
        </div>
    </div>
</header>
