<header>
    <div class="header-content">
        <div class="header-content-inner">
            <p id="titre">Frug'Agile en Arménie 2</p>
            <p id="sous-titre">Frug'Agile vous invite à sa nouvelle conférence.<br/>
            Conférence ? Non, à une expérience complètement folle … <br/><br/>
          Chiche on le fait ?</p>
            <!--<div class="row">
                <a href="#ticketing" class="btn btn-primary btn-xl page-scroll">Réserver votre place</a>
                <a href="#program" class="btn btn-primary btn-xl page-scroll">Découvrir le programme</a>
            </div>-->
        </div>
    </div>
</header>
