<header>
    <div class="header-content">
        <div class="header-content-inner">
            <p id="titre">Frug'Agile en Arménie<br />14 & 15 octobre 2021</p>
            <p id="sous-titre">Nous vous invitons à <strong>revenir aux fondamentaux</strong> et à partager tous ensemble le sens de notre démarche agile</p>
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-3"><a href="#ticketing" class="btn btn-primary btn-xl page-scroll">Réserver votre place</a></div>
                <div class="col-lg-3"></div>
                <div class="col-lg-3"><a href="#program" class="btn btn-primary btn-xl page-scroll">Découvrez le programme</a></div>
                <div class="col-lg-1"></div>
            </div>
        </div>
    </div>
</header>
