<header>
    <div class="header-content">
        <div class="header-content-inner">
            <p id="titre"><b><img src="/img/Frugagile-titre.png" height="40px;" width="110px;" alt="logo frug'Agile"> is coming back from february, 8th to 12th</b><br/>
            A frugal and 100% online conference : workshops, experience reports, talks about agility and in particular :</p>
            <p id="sous-titre">What is the outcome of the past 20 years and how to start well the next 20 years ?</p>
            <a href="#conference" class="btn btn-primary btn-xl page-scroll">Learn more</a>
        </div>
    </div>
</header>
