<header>
    <div class="header-content">
        <div class="header-content-inner">
            <p id="titre">Frug'Agile in Armenia 2</p>
            <p id="sous-titre">We are proud to invite you to our new conference.<br/>
              A conference? No, not so much a conference <br/>
              but something like a really crazy experience …<br/><br/>
            Let's do it!</p>
            <!--<div class="row">
                <a href="#ticketing" class="btn btn-primary btn-xl page-scroll">Book your ticket</a>
                <a href="#program" class="btn btn-primary btn-xl page-scroll">Discover the agenda </a>
            </div>-->
        </div>
    </div>
</header>
