<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            
        <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/4.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Tristan Nitot (8/02 - 13h 🇫🇷)
                            </div>
                            <div class="project-name">
                               Roundtable - Green IT
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Allan Kelly (02/9 - 13h 🇬🇧)
                            </div>
                            <div class="project-name">
                               Radical Agile, Mild Agile and the Future
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            
            
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Robert C. Martin (02/9 - 17h 🇬🇧)
                            </div>
                            <div class="project-name">
                
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Claude Aubry, Jean-Pascal et Anthony (02/12 - 13h 🇫🇷 )
                            </div>
                            <div class="project-name">
                                Radical agility
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/5.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Maelle Caron (02/10 - 15h30 🇫🇷 )
                            </div>
                            <div class="project-name">
                                Sketchnote for kids !
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        
        </div>
    </div>
</section>