<section class="bg-dark" "no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Découvrez nos orateurs</h2>
                <hr class="dark">
                <p class="text-faded">
                    <img src="/img/portfolio/Armenie/DanielMezick.png" height="200" width="200">
                    </p>
                    <p>
                    Coach de dirigeants et d'équipes depuis 2006, <b>DANIEL MEZICK</b> est à l'origine d'OpenSpace Agility, et est auteur de trois livres sur le changement organisationnel. Il est le fondateur et membre du conseil consultatif de l'Open Leadership Network, une communauté et un organisme de certification axé sur la diffusion du changement basé sur le concept Invitation-Based Change™.
                </p><p>
                    Conférencier invité fréquemment lors de conférences du monde de l'industrie, la liste des clients de Daniel comprend Capital One, INTUIT, Adobe, CIGNA, Pitney Bowes, SIEMENS Healthcare, Harvard et des dizaines de petites entreprises.
                </p><p>
                    Les livres de Daniel incluent The Culture Game (publié en 2012), The OpenSpace Agility Handbook (publié en 2015) et Inviting Leadership: Invitation-Based Change™ in the New World of Work (publié en 2018).
                </p><p>
                    Lors de sa publication, Inviting Leadership a atteint la première place sur la liste des best-sellers d'Amazon dans la catégorie Apprentissage organisationnel.
                </p><p>
                    La pratique de conseil en entreprise de Daniel repose sur les concepts de base trouvés dans ces livres. Il anime des ateliers basés sur ces livres et propose également du coaching Agile en entreprise, des programmes de formation Agile pour les équipes et du conseil en gestion.
                </p>
                <hr class="dark">
                <img src="/img/portfolio/Armenie/ArievanBennekum.jpg" height="240" width="200">
                <p>
                    <br>
                    Arie est un pragmatique, qui intègre son pragmatisme dans la structure, la discipline et le bon sens depuis ses débuts dans la santé et le monde militaire, jusqu'à ce qu'il est devenu aujourd'hui. Cela l'a finalement conduit à être l'un des auteurs du Manifeste Agile.
                </p><p>
                    Au fil des années, Arie est devenu un expert des transformations agiles et de l'agilité dans le business. Arie travaille pour Wemanity ces jours-ci en tant que leader d'opinion, et au sein de Wemanity en tant que responsable des transformations internationales (à travers le monde) et travaille avec une équipe internationale pour y parvenir.
                </p><p>
                    À côté de ce travail en transformations Agiles et dans l'agilité, Arie a enseigné à l'Université de Rotterdam (20 ans), Amsterdam (7 ans) et Utrecht (3 ans) sur des sujets tels que l'Agile, la gestion de projet (Agile), la valeur business et les transformations agiles. Arie a développé le framework de transformation Agile IATM.
                </p><p>
                    Son premier livre traite de la manière de gérer le changement et ses objectifs en tant qu'individu (#YouAreTheArchitectOfYourOwnLife) et son deuxième livre sur l'agilité de l'entreprise (#AgilePracticesForBusinessValue) sort bientôt.
                </p>
            </div>


        
<!--        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6 portfolio-box">
                <img src="/img/portfolio/1.jpg" class="img-responsive" alt="Jean-Pierre Lambert">
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                            Jean-Pierre Lambert (15/02 - 13h/14h 🇫🇷)
                        </div>
                        <div class="project-name">
                            Sortir de l'ère des héros - l'excellence comme clé d'une organisation résiliente
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-box">
                <img src="/img/portfolio/2.jpg" class="img-responsive" alt="Sedera Randria">
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                            Sedera Randria (16/02 - 13h/14h 🇫🇷)
                        </div>
                        <div class="project-name">
                            Prêts à passer des 3 questions du Daily Scrum à des questions puissantes ?
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-box">
                <img src="/img/portfolio/3.jpg" class="img-responsive" alt="Olivier Le Lan">
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                            Olivier Le Lan (16/02 - 18h/19h 🇫🇷)
                        </div>
                        <div class="project-name"> Visualiser collectivement une stratégie d'entreprise pour pouvoir agir efficacement
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-box">
                <img src="/img/portfolio/4.jpg" class="img-responsive" alt="Alexis Nicolas">
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                            Alexis Nicolas (17/02 - 13h/14h 🇫🇷)
                        </div>
                        <div class="project-name">
                            REX Bilan Carbone @ OCTO
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-box">
                <img src="/img/portfolio/5.jpg" class="img-responsive" alt="Gad Salner">
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                           Gad Salner (18/02 - 13h/14h 🇬🇧)
                        </div>
                        <div class="project-name">
                            Zoom out: Building a kickass engineering team remotely
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-box">
                <img src="/img/portfolio/6.jpg" class="img-responsive" alt="Fabrice Bloch">
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                            Fabrice Bloch (18/02 - 17h30/19h 🇫🇷)
                        </div>
                        <div class="project-name">
                            Circular Design reloaded
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</section>
