<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">            
            <div class="col-lg-4 col-sm-6 portfolio-box">
                <img src="/img/portfolio/4.jpg" class="img-responsive" alt="Tristan Nitot">
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                            Tristan Nitot (02-08 - 13h 🇫🇷)
                        </div>
                        <div class="project-name">
                            Roundtable - Green IT
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-box">
                <img src="/img/portfolio/2.jpg" class="img-responsive" alt="Allan Kelly">
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                            Allan Kelly (02-09 - 13h 🇬🇧)
                        </div>
                        <div class="project-name">
                            Radical Agile, Mild Agile and the Future
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-box">
                <img src="/img/portfolio/1.jpg" class="img-responsive" alt="Robert C. Martin">
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                            Robert C. Martin (02-09 - 17h 🇬🇧)
                        </div>
                        <div class="project-name">        
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-box">
                <img src="/img/portfolio/3.jpg" class="img-responsive" alt="Claude Aubry, Jean-Pascal et Anthony">
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                            Radical Agile Collective<br/>Claude Aubry, Jean-Pascal Boignard,<br/>Anthony Cassaigne (02-12 - 13h 🇫🇷 )
                        </div>
                        <div class="project-name">
                            How to land with agility after the pandemic?
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-box">
                <img src="/img/portfolio/5.jpg" class="img-responsive" alt="Maelle Caron">
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                            Maelle Caron (02-10 - 15h30 🇫🇷 )
                        </div>
                        <div class="project-name">
                            Sketchnote for kids !
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-box">
                <img src="/img/portfolio/6.jpg" class="img-responsive" alt="Rafik Mekki">
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                            Rafik Mekki (02-11 - 13h 🇫🇷)
                        </div>
                        <div class="project-name">
                            Sun-tzu at the service of agility
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
