<section class="bg-dark" id="portfolio">
    <div class="container-fluid">
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <h2 class="section-heading">Discover our speakers</h2>
            <hr class="dark">
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 text-center">
                <h3>Daniel Mezick</h3>
                <img src="/img/portfolio/Armenie/DanielMezick.jpg" height="162" width="300" />
                <p>
                    <br />
                    Coaching executives and teams since 2006, <strong>Daniel Mezick</strong> is the originator of OpenSpace Agility and an author of three books on organizational change. He is a Founder and Advisory Board member at the Open Leadership Network, a community and certification body focused on the spread of Invitation-Based Change™ through the use of Open patterns and practices.
                </p>
            </div>
            <div class="col-lg-6 text-center">
                <h3>Arie Van Bennekum</h3>
                <img src="/img/portfolio/Armenie/ArievanBennekum.jpg" height="162" width="300" />
                <p>
                    <br />
                    Arie is a pragmatic who embeds his pragmatism in structure, discipline & common sense from his early days in the health care and the military forces up to where he is today. This eventually led to being one of the authors of the Agile Manifesto.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 text-center">
                <h3>Lisette Sutherland</h3>
                <img src="/img/portfolio/Armenie/LisetteSutherland.jpg" height="162" width="300" />
                <p>
                    <br />
                    Lisette Sutherland is the director of Collaboration Superpowers, a company that helps people work together from anywhere through online workshops. She also produces a regular podcast featuring interviews with remote working experts highlighting the challenges and successes of working with virtual teams.
                </p>
            </div>
            <div class="col-lg-6 text-center">
                <h3>Lisa Crispin</h3>
                <img src="/img/portfolio/Armenie/LisaCrispin.jpg" height="162" />
                <p>
                    <br />
                    Lisa Crispin is the co-author, with Janet Gregory, of three books: Agile Testing Condensed: A Brief Introduction, More Agile Testing: Learning Journeys for the Whole Team, Agile Testing: A Practical Guide for Testers and Agile Teams; the LiveLessons Agile Testing Essentials video course.
                    She and Janet co-founded the Agile Testing Fellowship, which offers "The Whole Team Approach to Agile Testing" live training course both remotely and in-person. Lisa was voted by her peers as the Most Influential Agile Testing Professional Person at Agile Testing Days in 2012.
                    She is co-founder with Janet of Agile Testing Fellowship, Inc. Please visit
                    <a href="https://lisacrispin.com" target="_blank">lisacrispin.com</a>,
                    <a href="https://agiletestingfellow.com" target="_blank">agiletestingfellow.com</a>, et
                    <a href="https://agiletester.ca" target="_blank">agiletester.ca</a> for more.
                </p>
            </div>
        </div>
    </div>
</section>
