<section class="bg-dark" id="portfolio">
    <div class="container-fluid">
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <h2 class="section-heading">Découvrez nos orateurs</h2>
            <hr class="dark">
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 text-center">
                <h3>Daniel Mezick</h3>
                <img src="/img/portfolio/Armenie/DanielMezick.jpg" height="162" width="300" />
                <p>
                    <br />
                    Coach de dirigeants et d'équipes depuis 2006, il est à l'origine d'OpenSpace Agility, et est auteur de trois livres sur le changement organisationnel. Il est le fondateur et membre du conseil consultatif de l'Open Leadership Network, une communauté et un organisme de certification axé sur la diffusion du changement basé sur le concept Invitation-Based Change™.
                </p>
            </div>
            <div class="col-lg-6 text-center">
                <h3>Arie Van Bennekum</h3>
                <img src="/img/portfolio/Armenie/ArievanBennekum.jpg" height="162" width="300" />
                <p>
                    <br />
                    Arie est un pragmatique, qui intègre son pragmatisme dans la structure, la discipline et le bon sens depuis ses débuts dans la santé et le monde militaire, jusqu'à ce qu'il est devenu aujourd'hui. Cela l'a finalement conduit à être l'un des auteurs du Manifeste Agile. <br/><br/>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 text-center">
                <h3>Lisette Sutherland</h3>
                <img src="/img/portfolio/Armenie/LisetteSutherland.jpg" height="162" width="300" />
                <p>
                    <br />
                    Lisette Sutherland est la directrice de "Collaboration Superpowers", une entreprise qui aide les personnes à travailler ensemble de n'importe où, grâce à des ateliers en ligne. Elle produit aussi régulièrement une série de podcasts contenant des interviews d'experts en travail à distance, parlant essentiellement des difficultés et des succès à travailler avec des équipes à distance.
                </p>
            </div>
            <div class="col-lg-6 text-center">
                <h3>Lisa Crispin</h3>
                <img src="/img/portfolio/Armenie/LisaCrispin.jpg" height="162" />
                <p>
                    <br />
                    Lisa Crispin est co-auteure avec Janet Gregory de 3 ouvrages : <em>Agile Testing Condensed: A Brief Introduction</em>, <em>More Agile Testing: Learning Journeys for the Whole Team</em>, <em>Agile Testing: A Practical Guide for Testers and Agile Teams</em> ; et des cours en vidéo <em>the LiveLessons Agile Testing Essentials video course</em>.
                    L'<em>Agile Testing Fellowship</em>, co-fondé par Lisa et Janet, propose une formation sur "une approche du test logiciel pour toute l'équipe" à la fois en distanciel et en présentiel. En 2012, Lisa a été élue par ses pairs comme étant la <em>personne la plus influente sur le test agile professionnel</em> lors des <em>Agile Testing Days</em>.
                    Pour en savoir plus
                    <a href="https://lisacrispin.com" target="_blank">lisacrispin.com</a>,
                    <a href="https://agiletestingfellow.com" target="_blank">agiletestingfellow.com</a>, et
                    <a href="https://agiletester.ca" target="_blank">agiletester.ca</a>.
                </p>
            </div>
        </div>
        <div class="row">
             <div class="col-lg-8 col-lg-offset-2 text-center">
                <hr class="dark" />
                <h3>Une idée de sujet à partager en lien avec le thème de notre conférence ?</h3>
                <a class="btn btn-primary btn-xl" href="https://sessionize.com/frugagile-en-armenie/" target="_blank">Proposer votre candidature</a>
            </div>
        </div>
    </div>
</section>
