<section class="bg-dark" id="portfolio">
    <div class="container-fluid">
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <h2 class="section-heading">Découvrez nos orateurs</h2>
            <hr class="dark">
        </div>
    </div>
    <div class="container-fluid">
        <div class="row align-items-start">
            <div class="col-lg-6 text-center">
                <img src="/img/portfolio/Armenie/DanielMezick.png" height="200" width="200">
                </p>
                <p>
                Coach de dirigeants et d'équipes depuis 2006, <b>DANIEL MEZICK</b> est à l'origine d'OpenSpace Agility, et est auteur de trois livres sur le changement organisationnel. Il est le fondateur et membre du conseil consultatif de l'Open Leadership Network, une communauté et un organisme de certification axé sur la diffusion du changement basé sur le concept Invitation-Based Change™.
            </p><p>
                Conférencier invité fréquemment lors de conférences du monde de l'industrie, la liste des clients de Daniel comprend Capital One, INTUIT, Adobe, CIGNA, Pitney Bowes, SIEMENS Healthcare, Harvard et des dizaines de petites entreprises.
            </p>
            <!--<p>
                Les livres de Daniel incluent The Culture Game (publié en 2012), The OpenSpace Agility Handbook (publié en 2015) et Inviting Leadership: Invitation-Based Change™ in the New World of Work (publié en 2018).
            </p><p>
                Lors de sa publication, Inviting Leadership a atteint la première place sur la liste des best-sellers d'Amazon dans la catégorie Apprentissage organisationnel.
            </p><p>
                La pratique de conseil en entreprise de Daniel repose sur les concepts de base trouvés dans ces livres. Il anime des ateliers basés sur ces livres et propose également du coaching Agile en entreprise, des programmes de formation Agile pour les équipes et du conseil en gestion.
            </p>   -->
            </div>
            <div class="col-lg-6 text-center">
            <img src="/img/portfolio/Armenie/ArievanBennekum.jpg" height="200" width="175">
            <p>
                <br>
                Arie est un pragmatique, qui intègre son pragmatisme dans la structure, la discipline et le bon sens depuis ses débuts dans la santé et le monde militaire, jusqu'à ce qu'il est devenu aujourd'hui. Cela l'a finalement conduit à être l'un des auteurs du Manifeste Agile.
            </p><p>
                Au fil des années, Arie est devenu un expert des transformations agiles et de l'agilité dans le business. Arie travaille pour Wemanity ces jours-ci en tant que leader d'opinion, et au sein de Wemanity en tant que responsable des transformations internationales (à travers le monde) et travaille avec une équipe internationale pour y parvenir.
            </p> <!-- <p>
                À côté de ce travail en transformations Agiles et dans l'agilité, Arie a enseigné à l'Université de Rotterdam (20 ans), Amsterdam (7 ans) et Utrecht (3 ans) sur des sujets tels que l'Agile, la gestion de projet (Agile), la valeur business et les transformations agiles. Arie a développé le framework de transformation Agile IATM.
            </p><p>
                Son premier livre traite de la manière de gérer le changement et ses objectifs en tant qu'individu (#YouAreTheArchitectOfYourOwnLife) et son deuxième livre sur l'agilité de l'entreprise (#AgilePracticesForBusinessValue) sort bientôt.
            </p> -->
            </div>
        </div>
    </div>
</section>
