<section id="program">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading" style="color: white">Agenda</h2>
                <hr class="red">
                <p>
                    Ask for the agenda!<br/><br/>
                    We prepared you a first-class agenda reflecting the richness, the diversity and the generosity of our two host countries, the Agile movement and our speakers.<br/><br/>
                    And since we're still celebrating the 20th anniversary of the Agile Manifesto,<br/> our <b>Back to Basics</b> theme is at the heart of our agenda and lots of things to discover as well.<br/><br/>
                </p>
            </div>
            
        <div class="programme">
            <div class="col-lg-8 portfolio-box">
                  <img src="/img/jeudi.svg" class="img-responsive" alt="programme du jeudi">
            </div>
            <div class="col-lg-8 portfolio-box">
                  <img src="/img/vendredi.svg" class="img-responsive" alt="programme du vendredi">
            </div> 
        </div>
            
            <div class="call-to-action">
              <a class="btn btn-default btn-xl page-scroll" href="#ticketing">Book your ticket</a>
              <a class="btn btn-default btn-xl page-scroll" href="/img/ProgrammeFrugAgileArmenieOct2021.pdf">Download the programm</a>
            </div>
            
        </div>
    </div>
</section> 
