<section class="bg-primary" id="program">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Agenda</h2>
                <hr class="light">
                <p class="text-faded">
                    Ask for the agenda !<br/><br/>
                    We prepared you a first-class agenda full of surprises to celebrate gracefully this 20th anniversary of the Agile Manifesto and to prepary the next 20 years.<br/><br/>
                    And since  we're Frug'Agile, it'll be about Agile and Frugal.<br/><br/>
                    <i>Do you want to know more? Go discover the agenda</i>
                </p>
                <a class="btn btn-default btn-xl" href="/img/FrugAgile-2021_02-Programme-fr-S2.png" target="_blank">Discover the agenda</a>
            </div>
        </div>
    </div>
</section>
