<section id="program">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Agenda</h2>
                <hr class="light">
                <p class="text-faded">
                    Ask for the agenda!<br/><br/>
                    We prepared you a first-class agenda reflecting the richness, the diversity and the generosity of our two host countries, the Agile movement and our speakers.<br/><br/>
                    And since we're still celebrating the 20th anniversary of the Agile Manifesto,<br/> our <b>Back to Basics</b> theme is at the heart of our agenda and lots of things to discover as well.<br/><br/>

                    <i>Do you want to know more? Go discover the agenda…</i>
                </p>
                <!--<a class="btn btn-default btn-xl" href="/img/FrugAgile-2021_02-Programme-fr-S2.png" target="_blank">Discover the agenda</a>-->
            </div>
            <div class="col-lg-8 portfolio-box">
                <img src="/img/jeudi.svg" class="img-responsive" alt="Thursday agenda">
            </div>
            <div class="col-lg-8 portfolio-box">
                <img src="/img/vendredi.svg" class="img-responsive" alt="Friday agenda">
            </div>
        </div>
    </div>
</section>
