<section id="program">
    <div class="container-fluid">
      <div class="row">
          <div class="col-lg-8 col-lg-offset-2 text-center">
              <h2 class="section-heading" style="color: white">Programme</h2>
              <hr class="red">
              <p>
                  Demandez le programme !<br/><br/>
                  Nous vous avons préparé un programme reflétant la richesse, la diversité et la générosité de nos deux pays hôtes,<br/> de l'Agile et de nos orateurs.<br/><br/>
                  Et comme nous sommes toujours dans la célébration du 20ème anniversaire du Manifeste Agile,<br/> le thème du <b>retour aux fondamentaux</b> est au cœur de notre programme avec plein de belles découvertes autour.<br/><br/>
              </p>
          </div>
          
          <div class="programme">
            <div class="col-lg-8 portfolio-box">
                  <img src="/img/jeudi.svg" class="img-responsive" alt="programme du jeudi">
            </div>
            <div class="col-lg-8 portfolio-box">
                  <img src="/img/vendredi.svg" class="img-responsive" alt="programme du vendredi">
            </div> 
          </div>
          
          <div class="call-to-action">
            <a class="btn btn-primary btn-xl page-scroll" href="#ticketing">Prendre un billet</a>
            <a class="btn btn-primary btn-xl page-scroll" href="/img/ProgrammeFrugAgileArmenieOct2021.pdf">télécharger le programme</a>
          </div>
          
      </div>
    </div>
</section>
