<section id="program">
    <div class="container-fluid">
      <div class="row">
          <div class="col-lg-8 col-lg-offset-2 text-center">
              <h2 class="section-heading">Programme</h2>
              <hr class="light">
              <p class="text-faded">
                  Demandez le programme !<br/><br/>
                  Nous vous avons préparé un programme reflétant la richesse, la diversité et la générosité de nos deux pays hôtes,<br/> de l'Agile et de nos orateurs.<br/><br/>
                  Et comme nous sommes toujours dans la célébration du 20ème anniversaire du Manifeste Agile,<br/> le thème du <b>retour aux fondamentaux</b> est au cœur de notre programme avec plein de belles découvertes autour.<br/><br/>

                  <i>Curieux d'en savoir plus ? Allez découvrir le programme …</i>
              </p>
              <!--<a class="btn btn-default btn-xl" href="/img/FrugAgile-2021_02-Programme-fr-S2.png" target="_blank">Découvrir le programme</a>-->
          </div>
          <div class="programme">
            <div class="col-lg-8 portfolio-box">
                  <img src="/img/jeudi.png" class="img-responsive" alt="programme du jeudi">
            </div>
            <div class="col-lg-8 portfolio-box">
                  <img src="/img/vendredi.png" class="img-responsive" alt="programme du vendredi">
            </div> 
          </div>
      </div>
    </div>
</section>
