<aside class="bg-dark">
    <section id="conference">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Ce que nous vous préparons pour l'édition 2021</h2>
                    <hr class="primary">
                    <p>
                    A l’instar de ce week-end au ski il y a une vingtaine d’année… <br/>
                    Nous rêvons d’une semaine <b>sans chichis</b>, dans la <b>bonne humeur</b>, la <b>convivialité</b> et l’<b>ouverture d’esprit</b>, où le business n’aura pas sa place et où la communauté mettra son énergie et <b>imaginer le meilleur pour les 20 prochaines années</b></p>
                    <p>Pendant une semaine plus d’une douzaine d’intervenants partagerons avec vous leur vision des 20 dernières années ou des 20 prochaines. <br/></p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-calendar wow bounceIn text-primary"></i>
                        <h3>Une semaine d'échanges en ligne</h3>
                        <p class="text-faded">5 soirées, 5 midis, une après-midi spécial enfants, plus 15 sessions diverses et variées.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-magic wow bounceIn text-primary" data-wow-delay=".1s"></i>
                        <h3>Tous les formats sont envisageables</h3>
                        <p class="text-faded">Ateliers, retours d'expériences, conférences, tables rondes, débats... et bien plus encore ! </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-smile-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>Bonne humeur & ouverture d'esprit</h3>
                        <p class="text-faded">Mettons notre plus belle énergie à imaginer ensemble notre vision des 20 prochaines années </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                        <h3>Fait avec amour et frugalité</h3>
                        <p class="text-faded">Keep It Simple Stupid & sans business, c'est tout le challenge qui nous attend ! </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</aside>