<section id="conference">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Frug’Agile conference invite you to <strong>Frug’AgileInArmenia</strong>.</h2>
                <hr class="primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <p>
                    In the old days, conferences used to be held once a year. But that was in the old days.<br/>
                    In the old days, conferences used to be held either in face-to-face or remotely. But that was in the old days.<br/>
                    In the old days, conferences used to be held only in one country. But that was in the old days.<br/>
                </p>
                <p>
                    <strong>On October 14th and 15th</strong>, Frug’Agile conference invite you to a crazy challenge... Reinforce relationship between two countries through a conference organized astride two continents, a bilingual french/english conference, a conference bringing together speakers from all over the world.
                </p>
                <p>
                    We invite you to experience other cultures and lifestyle, <strong>to support solidarity project</strong> as the Relq School, a free and inclusive coding school to give a future to young refugees.
                </p>
                <p>
                    We invite you to go <strong>back to the basics of Agile</strong> and to share all together the meaning of our agile approach.
                </p>
            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-handshake-o" aria-hidden="true"></i>
                    <h3>Renforcer les liens qui unissent 2 pays</h3>
                    <p class="text-faded">grâce à une conférence organisée à cheval sur les deux pays, en respectant le décalage horaire</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x Example of comments-o fa-comments-o" aria-hidden="true"></i>
                    <h3>Une conférence bilingue</h3>
                    <p class="text-faded">Un programme mélangeant des conférences et ateliers en Francais et Anglais ! </p>
                    
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-globe" aria-hidden="true"></i>
                    <h3>Une conférence internationale</h3>
                    <p class="text-faded">réunissant des intervenants de partout dans le monde : France, Arménie, USA, UK... </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart" aria-hidden="true"></i>
                    <h3>Un retour aux fondamentaux</h3>
                    <p class="text-faded">Nous vous invitons à <strong>revenir aux fondamentaux</strong> et à partager tous ensemble le sens de notre démarche agile</p>
                </div>
            </div>
        </div>
    </div>
</section>
