<aside class="bg-dark">
    <section id="conference">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">What we brewed for this issue</h2>
                    <hr class="primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <p>
In the old days, conferences used to be held once a year. But that was in the old days.
In the old days, conferences used to be held either in face-to-face or remotely. But that was in the old days.
In the old days, conferences used to be held only in one country. But that was in the old days.<br/>
                    </p>
                    <p>
<b>On October 14th and 15th</b>, Frug’Agile conference invite you to a crazy challenge… Reinforce relationship between two countries through a conference organized astride two continents, a bilingual french/english conference, a conference bringing together speakers from all over the world. 
                    </p>
                    <p>
We invite you to experience other cultures and lifestyle, <b>to support solidarity project</b> as the Relq School, a free and inclusive coding school to give a future to young refugees. 
                    </p>
                    <p>
We invite you to go <b>back to the basics of Agile</b> and to share all together the meaning of our agile approach.
                    </p>
                    <p>
Frug’Agile conference invite you to <b>Frug’AgileInArmenia</b>.
                    </p>
                </div>
                <div class="col-lg-2"></div>
            </div>
        </div>
<!--         <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-calendar wow bounceIn text-primary"></i>
                        <h3>A full week of rich online interactions</h3>
                        <p class="text-faded">5 evenings, 5 noons, a kids special afternoon, with more than various and diverse 15 sessions.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-magic wow bounceIn text-primary" data-wow-delay=".1s"></i>
                        <h3>All formats are possible</h3>
                        <p class="text-faded">Workshops, experience reports, talks, round table, discussions … and much much more !</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-smile-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>Happiness & open-mindedness</h3>
                        <p class="text-faded">Let’s put our most beautiful energy to imagine together our vision for the next 20 years</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                        <h3>Made with love and frugality</h3>
                        <p class="text-faded">Keep it Simple and Stupid & without any business, that's the challenge that awaits us!</p>
                    </div>
                </div>
            </div>
        </div> -->
    </section>
</aside>
