<section id="conference">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">La conférence Frug'Agile vous invite à <b>Frug'AgileEnArménie</b>.</h2>
                <hr class="primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <p>
                    Avant, les conférences n'avaient lieu qu'une fois par an. Mais ça c'était avant.<br/>
                    Avant, les conférences étaient soit en présentiel, soit en distanciel. Mais ça c'était avant.<br/>
                    Avant, les conférences n'avaient lieu que dans un seul pays. Mais ça c'était avant.<br/>
                </p>
                <p>
                    La conférence Frug'Agile vous invite les <b>14 et 15 octobre 2021</b> à un pari un peu fou...  
                </p>
                <p>
                    Nous vous invitons à partager des cultures, à soutenir des projets solidaires comme <a href="https://www.helloasso.com/associations/g2ia/collectes/relq"> Relq</a>, une école de codage gratuite et solidaire pour donner un avenir aux jeunes des populations déplacées par la guerre. 
                </p>
            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-handshake-o" aria-hidden="true"></i>
                    <h3>Renforcer les liens qui unissent 2 pays</h3>
                    <p class="text-faded">grâce à une conférence organisée à cheval sur les deux pays, en respectant le décalage horaire</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x Example of comments-o fa-comments-o" aria-hidden="true"></i>
                    <h3>Une conférence bilingue</h3>
                    <p class="text-faded">Un programme mélangeant des conférences et ateliers en Francais et Anglais ! </p>
                    
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-globe" aria-hidden="true"></i>
                    <h3>Une conférence internationale</h3>
                    <p class="text-faded">réunissant des intervenants de partout dans le monde : France, Arménie, USA, UK... </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart" aria-hidden="true"></i>
                    <h3>Un retour aux fondamentaux</h3>
                    <p class="text-faded">Nous vous invitons à <b>revenir aux fondamentaux</b> et à partager tous ensemble le sens de notre démarche agile</p>
                </div>
            </div>
        </div>
    </div>
</section>
