<section class="bg-primary" id="conference">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our intent?</h2>
                <hr class="primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <p>
                    Would you be interested to talk about agility and humanity?
                </p>
                <p>
                    Is something like an agile retreat with people like you from differents locations including <br/>
                    (of course) Armenian people could inspire you?
                </p>
                <p>
                    Would you be interested to stay at a local's house in the deep countryside<br/>
                    of a very welcoming country?
                </p>
                <p>
                    Would you be interested to talk IRL with Agile or CraftsManship or Design experts.
                </p>
                <p>
                    Voilà, this is our intent, to spend a week together with other agilists people <br/>
                    in the heartland of a magnificent and welcoming country that you'll discover from the inside<br/>
                    with other recognized experts .
                </p>
                <p>
                    When ? During the 2022 Autumn vacations (late october - early november).
                    Where ? In a small town, North of Armenia, like Gyumri or Vanadzor.
                    This will be a human and agile adventure, a really crazy project … like us ;o)
                </p>
                <p>
                    So? Let's do it? If you want to learn more about it, <br/>
                    subscribe below with your email address to our mailing list …
                </p>

                <!-- Begin Mailchimp Signup Form -->
<div id="mc_embed_signup">
<form action="https://frugagile.us7.list-manage.com/subscribe/post?u=e5e74c6a80ffa86586cb34541&amp;id=2f23fc3912" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">

<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
<div class="mc-field-group">
	<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
</label>
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
<div hidden="true"><input type="hidden" name="tags" value="6757481"></div>
	<div id="mce-responses" class="clear foot">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_e5e74c6a80ffa86586cb34541_2f23fc3912" tabindex="-1" value=""></div>
        <div class="optionalParent">
            <div class="clear foot">
                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                <p class="brandingLogo"><a href="http://eepurl.com/h43h2j" title="Mailchimp - email marketing made easy and fun"><img src="https://eep.io/mc-cdn-images/template_images/branding_logo_text_dark_dtp.svg"></a></p>
            </div>
        </div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->

            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>
</section>
