<section class="bg-primary" id="conference">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Chiche on le fait ?</h2>
                <hr class="primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <p>
                    Frug'Agile vous invite à sa nouvelle conférence. Conférence ? Non, à une expérience complètement folle... 
                </p>
                <p>
                    Notre intention ? 
                    Est-ce que ça vous dit de parler d'agilité et d'humanité ? 
                    Est-ce qu'une sorte d'agile retreat avec des pairs de provenance diverse, dont évidemment des Arméniens, vous inspirerait ? 
                    Est-ce que ça vous dit d'aller loger chez l'habitant dans la campagne d'un pays profondément accueillant ? 
                    Est-ce que ça vous brancherait de discuter avec des experts de l'agilité, du craft ou design - en vrai et en 3D ?!
                </p>
                <p>
                    Eh bien voila, c'est ça notre intention, passer une semaine entre agiliste au coeur d'un pays magnifique et accueillant que vous découvrirez de l'intérieur avec des experts reconnus de votre domaine. 
                </p>
                <p>
                    Quand ? Pendant les vacances de Toussaint 2022. 
                    Où ? Dans une petite ville du nord de l'Arménie comme Gyumri ou Vanadzor. 
                    C'est une aventure humaine et agile, un projet complètement fou qui nous ressemble.
                </p>
                <p>
                    Alors ? Chiche on le fait ? Si vous voulez en savoir plus, inscrivez-vous en suivant <a href="#">ce lien</a>
                </p>
            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>
</section>
