<section class="bg-primary" id="conference">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Notre intention ?</h2>
                <hr class="primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <p>
                    Est-ce que ça vous dit de parler d'agilité et d'humanité ?
                </p>
                <p>
                    Est-ce qu'une sorte d'agile retreat avec des pairs de provenance diverse, <br/>dont évidemment des Arméniens, vous inspirerait ?
                </p>
                <p>
                    Est-ce que ça vous dit d'aller loger chez l'habitant <br/> dans la campagne d'un pays profondément accueillant ?
                </p>
                <p>
                    Est-ce que ça vous brancherait de discuter avec des experts de l'agilité, .<br/>du craft ou design - en vrai et en 3D ?!
                </p>
                <p>
                    Eh bien voila, c'est ça notre intention, passer une semaine entre agiliste au coeur d'un pays magnifique et accueillant que vous découvrirez de l'intérieur avec des experts reconnus de votre domaine.
                </p>
                <p>
                    Quand ? La date reste à déterminer, nous vous tiendrons informés </br> via ce site et notre newsletter.</br>
                    Où ? Dans une petite ville du nord de l'Arménie comme Gyumri ou Vanadzor.
                    C'est une aventure humaine et agile, un projet complètement fou qui nous ressemble.
                </p>
                <p>
                    Alors ? Chiche on le fait ? Si vous voulez en savoir plus, <br/> inscrivez-vous avec votre adresse email à notre liste de diffusion dédiée :
                </p>

                <!-- Begin Mailchimp Signup Form -->
  <div id="mc_embed_signup">
  <form action="https://frugagile.us7.list-manage.com/subscribe/post?u=e5e74c6a80ffa86586cb34541&amp;id=2f23fc3912" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div id="mc_embed_signup_scroll">

  <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
  <div class="mc-field-group">
  	<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
  </label>
  	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
  </div>
  <div hidden="true"><input type="hidden" name="tags" value="6757481"></div>
  	<div id="mce-responses" class="clear foot">
  		<div class="response" id="mce-error-response" style="display:none"></div>
  		<div class="response" id="mce-success-response" style="display:none"></div>
  	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_e5e74c6a80ffa86586cb34541_2f23fc3912" tabindex="-1" value=""></div>
          <div class="optionalParent">
              <div class="clear foot">
                  <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                  <p class="brandingLogo"><a href="http://eepurl.com/h43h2j" title="Mailchimp - email marketing made easy and fun"><img src="https://eep.io/mc-cdn-images/template_images/branding_logo_text_dark_dtp.svg"></a></p>
              </div>
          </div>
      </div>
  </form>
  </div>

  <!--End mc_embed_signup-->

            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>
</section>
