<section class="bg-dark" id="ticketing">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Billetterie</h2>
                <hr class="dark">
                <p>
                    Frug'Agile est une conférence gratuite et sans sponsors.<br/><br/>
                    Nos billets sont donc gratuits afin de permettre à chacune et chacun de venir s'inspirer autant que venir inspirer.<br/><br/>
                    Vous pouvez soutenir l'association Frug'Agile pour lui permettre de vous offrir la meilleure expérience possible à travers une plateforme dédiée à ce genre d'évènement.<br/><br/>
                    <i>Merci à vous d'avance</i>
                </p>
                <iframe id="haWidget" allowtransparency="true" scrolling="auto" src="https://www.helloasso.com/associations/frug-agile/evenements/frug-agile-en-armenie/widget" style="width: 100%; height: 950px; border: none;"></iframe>
            </div>
        </div>
    </div>
</section>
