<section id="ticketing">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Ticketing</h2>
                <hr class="dark">
                <p class="text-faded">
                    Frug'Agile is a free conference without sponsors.<br/><br/>
                    Our tickets are free to allow everyone to come at the conference to be inspired as well as to come to breathe.<br/><br/>
                    You may support the non-profit organization Frug'Agile to allow her to offer you the best experience through a dedicated platform for this kind of event.<br/><br/>
                    <i>Thank you in advance</i>
                </p>
                <iframe id="haWidget" allowtransparency="true" scrolling="auto" src="https://www.helloasso.com/associations/frug-agile/evenements/frug-agile-en-armenie/widget" style="width: 100%; height: 750px; border: none;"></iframe>
            </div>
        </div>
    </div>
</section>
