<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6 portfolio-box">
                <img src="/img/portfolio/8.jpg" class="img-responsive" alt="Allan Kelly">
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                            Allan Kelly (09/02 - 13h/14h 🇬🇧)
                        </div>
                        <div class="project-name">
                            Agilité radicale, agilité douce, et le futur
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-box">
                <img src="/img/portfolio/9.jpg" class="img-responsive" alt="Robert C. Martin">
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                            Robert C. Martin (09/02 - 17h/18h 🇬🇧)
                        </div>
                        <div class="project-name">
                            Aux sources du manifeste agile!
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-box">
                <img src="/img/portfolio/1.jpg" class="img-responsive" alt="Jean-Pierre Lambert">
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                            Jean-Pierre Lambert (15/02 - 13h/14h 🇫🇷)
                        </div>
                        <div class="project-name">
                            Sortir de l'ère des héros - l'excellence comme clé d'une organisation résiliente
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-box">
                <img src="/img/portfolio/2.jpg" class="img-responsive" alt="Sedera Randria">
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                            Sedera Randria (16/02 - 13h/14h 🇫🇷)
                        </div>
                        <div class="project-name">
                            Prêts à passer des 3 questions du Daily Scrum à des questions puissantes ?
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-box">
                <img src="/img/portfolio/3.jpg" class="img-responsive" alt="Olivier Le Lan">
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                            Olivier Le Lan (16/02 - 18h/19h 🇫🇷)
                        </div>
                        <div class="project-name"> Visualiser collectivement une stratégie d'entreprise pour pouvoir agir efficacement
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-box">
                <img src="/img/portfolio/4.jpg" class="img-responsive" alt="Alexis Nicolas">
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                            Alexis Nicolas (17/02 - 13h/14h 🇫🇷)
                        </div>
                        <div class="project-name">
                            REX Bilan Carbone @ OCTO
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-box">
                <img src="/img/portfolio/5.jpg" class="img-responsive" alt="Gad Salner">
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                        Gad Salner (18/02 - 13h/14h 🇬🇧)
                        </div>
                        <div class="project-name">
                            Zoom out: Building a kickass engineering team remotely
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-box">
                <img src="/img/portfolio/6.jpg" class="img-responsive" alt="Fabrice Bloch">
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                            Fabrice Bloch (18/02 - 17h30/19h 🇫🇷)
                        </div>
                        <div class="project-name">
                            Circular Design reloaded
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-box">
                <img src="/img/portfolio/7.jpg" class="img-responsive" alt="Jean-baptiste Aubourg">
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                            Jean-baptiste Aubourg (19/02 - 13h/14h 🇫🇷)
                        </div>
                        <div class="project-name">
                            Une vision produit pour changer le monde
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
